<header class="flex justify-center items-center py-5  w-full xl:w-[1120px] sm:w-[350px] mx-auto">
    <nav class="flex flex-row gap-x-7 opacity-80 xl:gap-x-12">
        <a href="#top">Inicio</a>
        <a href="#experiencia">Experiencia</a>
        <a href="#proyectos">Proyectos</a>
        <a href="#formacion">Formación</a>
    </nav>

</header>