---
import Html from "./icons/Html.astro";
import CSS from "./icons/Css.astro";
import Javascript from "./icons/Javascript.astro";
import Angular from "./icons/Angular.astro"
import React from "./icons/React.astro";
import Css from "./icons/Css.astro";
import Java from "./icons/Java.astro";
import Spring from "./icons/Spring.astro";
import Python from "./icons/Python.astro";
import Django from "./icons/Django.astro";
import FastApi from "./icons/FastApi.astro";
import Node from "./icons/Node.astro";
---

<section class="flex flex-col gap-y-4">
    <span>Frontend</span>
    <article class="flex gap-x-2">
        <div class="flex gap-x-2 bg-orange-500 bg-opacity-40 px-3 py-2 rounded-full w-fit">
            <Html class="size-6" />
            <span>HTML</span>
        </div>
        <div class="flex gap-x-2 bg-blue-400 bg-opacity-40 px-3 py-2 rounded-full w-fit">
            <Css class="size-6" />
            <span>CSS</span>
        </div>
        <div class="flex gap-x-2 bg-yellow-400 bg-opacity-40 px-3 py-2 rounded-full w-fit">
            <Javascript class="size-6" />
            <span>Javascript</span>
        </div>
        <div class="flex gap-x-2 bg-sky-600 bg-opacity-40 px-3 py-2 rounded-full w-fit">
            <React class="size-6" />
            <span>React</span>
        </div>
        <div class="flex gap-x-2 bg-red-500 bg-opacity-40 px-3 py-2 rounded-full w-fit">
            <Angular class="size-6" />
            <span>Angular</span>
        </div>
    </article>
    
    <span>Backend</span>
    <article class="flex gap-x-2">
        <div class="flex gap-x-2 bg-sky-700 bg-opacity-40 px-3 py-2 rounded-full w-fit">
            <Java class="size-6" />
            <span>Java</span>
        </div>
        <div class="flex gap-x-2 bg-green-500 bg-opacity-40 px-3 py-2 rounded-full w-fit">
            <Spring class="size-6" />
            <span>Spring</span>
        </div>
        <div class="flex gap-x-2 bg-cyan-700 bg-opacity-40 px-3 py-2 rounded-full w-fit">
            <Python class="size-6" />
            <span>Python</span>
        </div>
        <div class="flex gap-x-2 bg-emerald-900 bg-opacity-40 px-3 py-2 rounded-full w-fit">
            <Django class="size-6" />
            <span>Django</span>
        </div>
        <div class="flex gap-x-2 bg-teal-600 bg-opacity-40 px-3 py-2 rounded-full w-fit">
            <FastApi class="size-6" />
            <span>Fast API</span>
        </div>
        <div class="flex gap-x-2 bg-lime-600 bg-opacity-40 px-3 py-2 rounded-full w-fit">
            <Node class="size-6" />
            <span>Node JS</span>
        </div>
    </article>
</section>
    
