---
import StudiesItem from "./StudiesItem.astro";

const STUDIES = [
    {
      title: 'Grado en Ingeniería Informática',
      institution: 'Universidad Complutense de Madrid',
      description: 'Trabajo fin de grado: software en Python para analizar datos de Twitter almacenados en una base de datos MongoDB.',
      date: 'Octubre 2013 - junio 2019'
    },
    {
        title: 'Bootcamp de desarrollo web Fullstack',
        institution: 'Upgrade Hub',
        description: 'Formación teórico práctica de tecnologías como HTML, CSS, JavaScript, Angular y React en el lado del frontend y NodeJS y Python como lenguajes de backend.',
        date: 'Febrero 2024 - junio 2024'
    }
]
---

<ol class="relative mt-16">
  {
    STUDIES.map((study) => (
      <li class="">
        <StudiesItem {...study} />
      </li>
    ))
  }
</ol>