---
import StudiesItem from "./StudiesItem.astro";

const STUDIES = [
    {
        title: 'Bootcamp de desarrollo web Fullstack',
        institution: 'Upgrade Hub',
        description: 'Formación teórico práctica de tecnologías como HTML, CSS, JavaScript, Angular y React en el lado del frontend y NodeJS y Python como lenguajes de backend.',
        date: 'Octubre 2023 - Abril 2024'
    },
    {
        title: 'Certificado profesional de desarrollador backend de Meta',
        institution: 'Coursera',
        description: 'Curso teórico práctico impartido por Meta a través de la plataforma Coursera con el lenguaje Python como tema principal. También incluyó módulos de bases de datos y el framework Django.',
        date: 'Abril 2023 - Noviembre 2023'
    },
    {
        title: 'Grado en Ingeniería Informática',
        institution: 'Universidad Complutense de Madrid',
        description: 'Trabajo fin de grado: software en Python para analizar datos de Twitter almacenados en una base de datos MongoDB.',
        date: 'Octubre 2013 - Junio 2019'
    },
]
---

<ol class="relative mt-16">
  {
    STUDIES.map((study) => (
      <li class="">
        <StudiesItem {...study} />
      </li>
    ))
  }
</ol>